# Dimension Reduction using Singular value decomposition(SVD)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import TruncatedSVD

In [2]:
df = pd.read_excel(r'D:\Data Scientist\Dimension reduction\Principle component analysis(PCA)\Dataset\University_Clustering.xlsx')

In [3]:
df

,UnivID,Univ,State,SAT,Top10,Accept,SFRatio,Expenses,GradRate
0,1,Brown,RI,1310.0,89,22,13.0,22704,94.0
1,2,CalTech,CA,1415.0,100,25,6.0,63575,81.0
2,3,CMU,PA,1260.0,62,59,9.0,25026,72.0
3,4,Columbia,NY,1310.0,76,24,12.0,31510,NaN
4,5,Cornell,NY,1280.0,83,33,13.0,21864,90.0
5,6,Dartmouth,NH,1340.0,89,23,10.0,32162,95.0
6,7,Duke,NC,1315.0,90,30,12.0,31585,95.0
7,8,Georgetown,DC,NaN,74,24,12.0,20126,92.0
8,9,Harvard,MA,1400.0,91,14,11.0,39525,97.0
9,10,JohnsHopkins,MD,1305.0,75,44,7.0,58691,87.0
10,11,MIT,MA,1380.0,94,30,10.0,34870,91.0
11,12,Northwestern,IL,1260.0,85,39,11.0,28052,89.0
12,13,NotreDame,IN,1255.0,81,42,13.0,15122,94.0
13,14,PennState,PA,1081.0,38,54,18.0,10185,80.0
14,15,Princeton,NJ,1375.0,91,14,8.0,30220,95.0
15,16,Purdue,IN,1005.0,28,90,19.0,9066,69.0
16,17,Stanford,CA,1360.0,90,20,12.0,36450,93.0
17,18,TexasA&M,TX,1075.0,49,67,25.0,8704,67.0
18,19,UCBerkeley,CA,1240.0,95,40,17.0,15140,78.0
19,20,UChicago,IL,1290.0,75,50,NaN,38380,87.0
20,21,UMichigan,MI,1180.0,65,68,16.0,15470,85.0
21,22,UPenn,PA,1285.0,80,36,11.0,27553,90.0
22,23,UVA,VA,1225.0,77,44,14.0,13349,92.0
23,24,UWisconsin,WI,1085.0,40,69,15.0,11857,71.0
24,25,Yale,CT,1375.0,95,19,11.0,43514,96.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   UnivID    25 non-null     int64
 1   Univ      25 non-null     object
 2   State     25 non-null     object
 3   SAT       24 non-null     float64
 4   Top10     25 non-null     int64
 5   Accept    25 non-null     int64
 6   SFRatio   24 non-null     float64
 7   Expenses  25 non-null     int64
 8   GradRate  24 non-null     float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.9+ KB

In [5]:
df.describe()

,UnivID,SAT,Top10,Accept,SFRatio,Expenses,GradRate
count,25.000000,24.000000,25.000000,25.000000,24.000000,25.000000,24.000000
mean,13.000000,1266.916667,76.480000,39.200000,12.708333,27388.000000,86.666667
std,7.359801,110.663578,19.433905,19.727308,4.154402,14424.883165,9.248580
min,1.000000,1005.000000,28.000000,14.000000,6.000000,8704.000000,67.000000
25%,7.000000,1236.250000,74.000000,24.000000,10.750000,15140.000000,80.750000
50%,13.000000,1287.500000,81.000000,36.000000,12.000000,27553.000000,90.000000
75%,19.000000,1345.000000,90.000000,50.000000,14.250000,34870.000000,94.000000
max,25.000000,1415.000000,100.000000,90.000000,25.000000,63575.000000,97.000000

In [6]:
df1 = df.drop(['UnivID'],axis = 1)

In [7]:
df1

            Univ State     SAT  Top10  Accept  SFRatio  Expenses  GradRate
0          Brown    RI  1310.0     89      22     13.0     22704      94.0
1        CalTech    CA  1415.0    100      25      6.0     63575      81.0
2            CMU    PA  1260.0     62      59      9.0     25026      72.0
3       Columbia    NY  1310.0     76      24     12.0     31510       NaN
4        Cornell    NY  1280.0     83      33     13.0     21864      90.0
5      Dartmouth    NH  1340.0     89      23     10.0     32162      95.0
6           Duke    NC  1315.0     90      30     12.0     31585      95.0
7     Georgetown    DC     NaN     74      24     12.0     20126      92.0
8        Harvard    MA  1400.0     91      14     11.0     39525      97.0
9   JohnsHopkins    MD  1305.0     75      44      7.0     58691      87.0
10           MIT    MA  1380.0     94      30     10.0     34870      91.0
11  Northwestern    IL  1260.0     85      39     11.0     28052      89.0
12     NotreDame    IN  1255.0     81      42     13.0     15122      94.0
13     PennState    PA  1081.0     38      54     18.0     10185      80.0
14     Princeton    NJ  1375.0     91      14      8.0     30220      95.0
15        Purdue    IN  1005.0     28      90     19.0      9066      69.0
16      Stanford    CA  1360.0     90      20     12.0     36450      93.0
17      TexasA&M    TX  1075.0     49      67     25.0      8704      67.0
18    UCBerkeley    CA  1240.0     95      40     17.0     15140      78.0
19      UChicago    IL  1290.0     75      50      NaN     38380      87.0
20     UMichigan    MI  1180.0     65      68     16.0     15470      85.0
21         UPenn    PA  1285.0     80      36     11.0     27553      90.0
22           UVA    VA  1225.0     77      44     14.0     13349      92.0
23    UWisconsin    WI  1085.0     40      69     15.0     11857      71.0
24          Yale    CT  1375.0     95      19     11.0     43514      96.0

In [8]:
# Null values

df1.isna().sum()

Univ        0
State       0
SAT         1
Top10       0
Accept      0
SFRatio     1
Expenses    0
GradRate    1
dtype: int64

In [ ]:
# WE USE PIPELINE HERE

In [9]:
from sklearn.pipeline import make_pipeline

In [10]:
svd = TruncatedSVD(n_components = 5)

In [11]:
num_features =df1.select_dtypes(exclude = ['object']).columns

In [12]:
num_features

Index(['SAT', 'Top10', 'Accept', 'SFRatio', 'Expenses', 'GradRate'], dtype='object')

In [13]:
num_pipeline = make_pipeline(SimpleImputer(strategy = 'mean'),StandardScaler(),svd)

In [14]:
processed = num_pipeline.fit(df1[num_features])

In [15]:
processed

Pipeline(steps=[('simpleimputer', SimpleImputer()),
                ('standardscaler', StandardScaler()),
                ('truncatedsvd', TruncatedSVD(n_components=5))])

In [16]:
import joblib

In [17]:
joblib.dump(processed,'Dim_Red_svd')

['Dim_Red_svd']

In [18]:
import os
os.getcwd()

'C:\\Users\\Administrator'

In [19]:
model = joblib.load('Dim_Red_svd')

In [20]:
model

Pipeline(steps=[('simpleimputer', SimpleImputer()),
                ('standardscaler', StandardScaler()),
                ('truncatedsvd', TruncatedSVD(n_components=5))])

In [21]:
svd_res = pd.DataFrame(model.transform(df1[num_features]))

In [22]:
svd_res

           0         1         2         3         4
0  -1.008824 -1.069154  0.078815  0.053320 -0.124905
1  -2.822327  2.252320  0.844907  0.136340 -0.091849
2   1.112562  1.626748 -0.256960  1.080296 -0.175069
3  -0.683955  0.031322  0.150691 -0.081396 -0.627660
4  -0.310925 -0.640049  0.006737  0.165489  0.018108
5  -1.695867 -0.348666 -0.255731  0.009171 -0.055605
6  -1.245805 -0.496317 -0.043130 -0.218671  0.290790
7  -0.389018 -0.782644 -0.464465  0.064073 -0.549292
8  -2.373384 -0.392515  0.112782 -0.452592 -0.243764
9  -1.402687  2.116496 -0.446030 -0.641238  0.218553
10 -1.725638  0.081015  0.162213  0.250658  0.239282
11 -0.449924 -0.014987 -0.180488  0.223463  0.275237
12  0.041397 -1.013733 -0.510428  0.215909  0.441974
13  3.235439 -0.374376 -0.485634 -0.507470 -0.658788
14 -2.235687 -0.375465 -0.392037  0.413228 -0.415173
15  5.174525  0.778296 -0.389433 -0.236373  0.169297
16 -1.698826 -0.311548  0.316043 -0.300174 -0.164922
17  4.579734 -0.354187  1.498583 -0.459825 -0.171403
18  0.823490 -0.707026  1.425236  0.741766  0.240129
19 -0.125520  0.675722  0.041166 -0.477414  0.469623
20  1.964419 -0.230463 -0.277851 -0.069454  0.812682
21 -0.541420 -0.083561 -0.308284  0.126713  0.052153
22  0.533489 -1.021195 -0.435299  0.157596  0.353761
23  3.549813  0.777644 -0.438257  0.331383 -0.354553
24 -2.305058 -0.123680  0.246856 -0.524799  0.051394

In [ ]:
# SVD for feature extraction

In [28]:
final = pd.concat([df.Univ, svd_res.iloc[:, 0:3]], axis = 1)
final.columns = ['Univ', 'svd0', 'svd1', 'svd2']
final

            Univ      svd0      svd1      svd2
0          Brown -1.008824 -1.069154  0.078815
1        CalTech -2.822327  2.252320  0.844907
2            CMU  1.112562  1.626748 -0.256960
3       Columbia -0.683955  0.031322  0.150691
4        Cornell -0.310925 -0.640049  0.006737
5      Dartmouth -1.695867 -0.348666 -0.255731
6           Duke -1.245805 -0.496317 -0.043130
7     Georgetown -0.389018 -0.782644 -0.464465
8        Harvard -2.373384 -0.392515  0.112782
9   JohnsHopkins -1.402687  2.116496 -0.446030
10           MIT -1.725638  0.081015  0.162213
11  Northwestern -0.449924 -0.014987 -0.180488
12     NotreDame  0.041397 -1.013733 -0.510428
13     PennState  3.235439 -0.374376 -0.485634
14     Princeton -2.235687 -0.375465 -0.392037
15        Purdue  5.174525  0.778296 -0.389433
16      Stanford -1.698826 -0.311548  0.316043
17      TexasA&M  4.579734 -0.354187  1.498583
18    UCBerkeley  0.823490 -0.707026  1.425236
19      UChicago -0.125520  0.675722  0.041166
20     UMichigan  1.964419 -0.230463 -0.277851
21         UPenn -0.541420 -0.083561 -0.308284
22           UVA  0.533489 -1.021195 -0.435299
23    UWisconsin  3.549813  0.777644 -0.438257
24          Yale -2.305058 -0.123680  0.246856